<html>

  <head>
  </head>

  <body>

    <div style='max-width: 600px; margin: 0 auto; font-family: sans-serif;'>

      <div style='background: #f2f2f2; padding: 20px;'>
        <img
          src='https://example.com/logo.png'
          alt='Company Logo'
          style='display: inline;  max-width: 150px;'
        />
        <h3 style='display: inline;'>Plander</h3>
      </div>

      <div style='background: white; padding: 20px;'>

        <h1 style='margin-top: 0;'>Állítsa helyre jelszavát</h1>

        <p>Tisztelt {{name}}!</p>

        <p>Az ön fiókjától jelszó helyreállítási kérelem érkezett. Az alábbi gombra
          kattintva új jelszót igényelhet, hogy be tudjon lépni a fiókjába.</p>

        <a
          href='{{restorationUrl}}'
          style='background: #0078D7; color: white; padding: 10px 15px; text-decoration: none; display: inline-block; margin: 20px 0; border-radius: 5px;'
        >Jelszó helyreállítása</a>

        <p>Ha Ön nem igényelt új jelszót, ezt a levelet nyugodtan figyelmen kívül
          hagyhatja! A jelszava a régi marad.</p>

        <p>Üdvözlettel,<br />Plander csoport</p>

      </div>

    </div>

  </body>

</html>